{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>{% block bouldering-title %}Bouldering{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/bouldering-style.css' %}">
</head>
<body>
    <!--NavBar-->
    {% block navbar %}
    <nav>
        <a href="{% url 'bouldering-home' %}">Home</a>
        <a href="#about">About</a>
        <a href="#weather">Weather</a>
        <a href="{% url 'login' %}">Login</a>
    </nav>
    {% endblock %}
    <!--Header and main content-->
    {% block body-content %}{% endblock %}
    <!-- Footer -->
    <footer>
        <table>
            <tr>
                <td>
                    <p>Bouldering Tracking Site</p>
                </td>
                <td>
                    <p>|</p> <!--Added a 'divider' for aesthetics reasons -->
                </td>
                <td>
                    <img class="footer-image" src="{% static 'images/bouldering-page-images/carabiner-and-rope.jpg' %}" alt="carabiner with rope">
                </td>
                <td>
                    <p>|</p> <!--Added a 'divider' for aesthetics reasons -->
                </td>
                <td>
                    <p>Heilman, Michael<br>Capstone Project</p>
                </td>
            </tr>
        </table>
    </footer>
</body>

</html>