{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>{% block bouldering-title %}Bouldering{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/bouldering-style.css' %}">
</head>
<body>
    <!--NavBar-->
    <nav>
        <a href="#">Home</a>
        <a href="#about">About</a>
        <a href="#weather">Weather</a>
        <a href="#Login">Login</a>
    </nav>
    <!--header -- image with layover text-->
    <div class="header-container">
        <img src="{% static 'images/bouldering-page-images/climber-center-V2.jpg' %}" alt="photo of climber in the snowy mountain">
        <div><h1>Welcome to the Outdoor Bouldering Site!</h1></div>
    </div>
    <!--Main content-->
    {% block body-content %}{% endblock %}
    <!-- Footer -->
    <footer>
        <table>
            <tr>
                <td>
                    <p>Bouldering Tracking Site</p>
                </td>
                <td>
                    <p>|</p> <!--Added a 'divider' for aesthetics reasons -->
                </td>
                <td>
                    <img class="footer-image" src="{% static 'images/bouldering-page-images/carabiner-and-rope.jpg' %}" alt="carabiner with rope">
                </td>
                <td>
                    <p>|</p> <!--Added a 'divider' for aesthetics reasons -->
                </td>
                <td>
                    <p>Heilman, Michael<br>Capstone Project</p>
                </td>
            </tr>
        </table>
    </footer>
</body>

</html>