{% extends 'bouldering/base.html' %}
{% load static %}

{% block bouldering-title %}Bouldering - Home{% endblock %}
{% block body-content %}
<!-- About section -->
<section>
    <div id="about">
        <h2>About the site</h2>
        <p>
            This site was designed to help people who enjoy outdoor bouldering! From here you can check out the weather
            report at climbing spots across the USA, and log your climbs—the date you climb, the weather condition, the grade
            you climbed.<br>
            Below, you will find the weather report for locations across the USA. If you wish to log a climb, click the
            “Login” button at the top.<br>
            Thank you for visiting and happy climbing!
        </p>
    </div>
</section>
<!-- Weather reports -->
<section>
    <div class="row" id="weather">
        <div class="image-card">
            <img class="weather-image" src="{% static 'images/bouldering-page-images/girl-windy-day-V2.png' %}">
        </div>
        <div class="text-card">
            <h2>Weather Report</h2>
            <table>
                <tr>
                    <th>Date</th>
                    <th>Location</th>
                    <th>Weather Condition</th>
                </tr>
                <tr>
                    <td>dd/mm/yyyy</td>
                    <td>Oz, Golden Road</td>
                    <td>Sunshine and Rainbows</td>
                </tr>
                <tr>
                    <td>dd/mm/yyyy</td>
                    <td>Hyrule, West Continent</td>
                    <td>Cloud with 90% change of rain</td>
                </tr>
                <tr>
                    <td>dd/mm/yyyy</td>
                    <td>North Island</td>
                    <td>Heavy Rain</td>
                </tr>
                <tr>
                    <td>dd/mm/yyyy</td>
                    <td>Dark side of the Moon</td>
                    <td>Clear Skies</td>
                </tr>
            </table>
        </div>
    </div>
</section>
{% endblock %}