{% extends 'bouldering/base.html' %}
{% load static %}

{% block bouldering-title %}Bouldering - Home{% endblock %}
{% block body-content %}
<!--header -- image with layover text-->
<div class="header-container">
    <img src="{% static 'images/bouldering-page-images/climber-center-V2.jpg' %}" alt="photo of climber in the snowy mountain">
    <div><h1>Welcome to the Outdoor Bouldering Site!</h1></div>
</div>
<!-- About section -->
<section>
    <div id="about">
        <h2>About the site</h2>
        <p>
            This site was designed to help people who enjoy outdoor bouldering! From here you can check out the weather
            report at climbing spots across the USA, and log your climbs—the date you climb, the weather condition, the grade
            you climbed.<br>
            Below, you will find the logged climbs in the past three days. If you wish to log a climb, click the
            “Login” button at the top.<br>
            Thank you for visiting and happy climbing!
        </p>
    </div>
</section>
<!-- Last climbs logged -->
<section>
    <div class="row" id="last-climb-logged">
        <div class="image-card">
            <img src="{% static 'images/bouldering-page-images/climber-art.png' %}" alt="an art picture of a rock climber">
        </div>
        <div class="text-card">
            <h2>Latest Recorded Climbs</h2>
            <table>
                <tr>
                    <th>Date</th>
                    <th>Grade</th>
                    <th>Weather Condition</th>
                    <th>Location</th>
                    <th>User</th>
                </tr>
                {% for log in past_logs %}
                <tr>
                    <td>{{log.date}}</td>
                    <td>{{log.grade}}</td>
                    <td>{{log.weather_condition}}</td>
                    <td>{{log.location}}</td>
                    <td>{{log.user}}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</section>
{% endblock %}